
<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<header class="header">
  <div class="marca">
    <h1>MJV phone</h1>
    <span class="material-symbols-outlined favorite">favorite</span>
  </div>
  <div class="list-input">
    <ul class="list">
      <li class="list-item" [routerLink]="['/home']">Home</li>
      <li class="list-item">Contato</li>
      <li class="list-item" (click)="navigateByUrl('login')">Login</li>
    </ul>
    <div class="input-icon">
      <input class="input" type="search" placeholder="Digite sua busca">
      <button class="button" type="submit">
        <span class="material-symbols-outlined search">search</span>
      </button>
    </div>

  </div>
</header>
