.footer {
  display: flex;
  justify-content: space-between;
  color: rgb(255, 251, 251);
  font-size: 12px;
  background-color:  rgb(5, 5, 5);
  padding: 0.3rem;
  text-align: left;
  bottom: 0;
  width: 100vw;
}
