<body>
  <footer class="rodape">
    <div class="card__rodape">
      <div class="titulo__rodape"><h2>Contatos</h2></div>
    </div>
    <div class="card__rodape">
      <div class="link__rodape"><a href="https://api.whatsapp.com/send/?phone=5541998015368&text&type=phone_number&app_absent=0">Whatsapp</a></div>
      <div class="link__rodape"><a href="https://www.linkedin.com/in/brupsl/">Linkedin</a></div>
      <div class="link__rodape"><a href="https://bruleonel.github.io/portfolio/">Portifólio</a></div>
    </div>
  </footer>
</body>
