<h1 class="titulo">{{titulo}}</h1>
<div class="tabela">
<!--Não criei com a tag table pra não extrapolar o que foi pedido-->
  <div class="tabela-item">
    <p>Id: {{colaborador1.id}}, nome: {{colaborador1.nome}}, salário: {{colaborador1.salario}}, cargo: {{colaborador1.cargo}}</p>
  </div>

  <div class="tabela-item">
    <p>Id: {{colaborador2.id}}, nome: {{colaborador2.nome}}, salário: {{colaborador2.salario}}, cargo: {{colaborador2.cargo}}</p>
  </div>

  <div class="tabela-item">
    <p>Id: {{colaborador3.id}}, nome: {{colaborador3.nome}}, salário: {{colaborador3.salario}}, cargo: {{colaborador3.cargo}}</p>
  </div>

  <div class="tabela-item">
    <p>Id: {{colaborador4.id}}, nome: {{colaborador4.nome}}, salário: {{colaborador4.salario}}, cargo: {{colaborador4.cargo}}</p>
  </div>

  <div class="tabela-item">
    <p>Id: {{colaborador5.id}}, nome: {{colaborador5.nome}}, salário: {{colaborador5.salario}}, cargo: {{colaborador5.cargo}}</p>
  </div>

  <div class="tabela-item">
    <p>Id: {{colaborador6.id}}, nome: {{colaborador6.nome}}, salário: {{colaborador6.salario}}, cargo: {{colaborador6.cargo}}</p>
  </div>

  <div class="tabela-item">
    <p>Id: {{colaborador7.id}}, nome: {{colaborador7.nome}}, salário: {{colaborador7.salario}}, cargo: {{colaborador7.cargo}}</p>
  </div>

  <div class="tabela-item">
    <p>Id: {{colaborador8.id}}, nome: {{colaborador8.nome}}, salário: {{colaborador8.salario}}, cargo: {{colaborador8.cargo}}</p>
  </div>

  <div class="tabela-item">
    <p>Id: {{colaborador9.id}}, nome: {{colaborador9.nome}}, salário: {{colaborador9.salario}}, cargo: {{colaborador9.cargo}}</p>
  </div>

  <div class="tabela-item">
    <p>Id: {{colaborador10.id}}, nome: {{colaborador10.nome}}, salário: {{colaborador10.salario}}, cargo: {{colaborador10.cargo}}</p>
  </div>

  <div class="fim-tela"></div>
</div>


