<body>
  <main>
    <section class="principal">
      <div class="imagem__principal">
        <img src="assets/logo-angular.png" alt="">
      </div>
      <div>
        <div class="titulo__paragrafo__principal">
          <h2>Angular</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, sint. Quidem praesentium quibusdam, nobis magni molestiae asperiores et amet quisquam unde modi porro optio corrupti dolores eum velit alias iste nam repellendus itaque, tenetur dolor blanditiis consectetur. Odio sequi ex eveniet architecto velit magnam pariatur fuga? Doloribus sunt iste obcaecati.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima laudantium autem repellendus, eligendi sequi voluptatum unde ab ipsa, excepturi laborum tenetur iure iste harum animi? Provident, nihil, ipsam adipisci repudiandae distinctio reiciendis consequuntur commodi in ratione vitae veritatis eum, nisi ullam vero enim ab illo eligendi ea similique et. Repellat.</p>
        </div>
      </div>
    </section>
  </main>
</body>
