<div class="lista">
  <div class="lista__titulo"><h2>Lista De Funcionários</h2></div>
  <div class="listar__itens">
    <h3 class="lista__item">{{titulo}}</h3>
    <h3 class="lista__item">{{titulo}}</h3>
    <h3 class="lista__item">{{titulo}}</h3>
    <h3 class="lista__item">{{titulo}}</h3>
    <h3 class="lista__item">{{titulo}}</h3>
    <h3 class="lista__item">{{titulo}}</h3>
    <h3 class="lista__item">{{titulo}}</h3>
    <h3 class="lista__item">{{titulo}}</h3>
    <h3 class="lista__item">{{titulo}}</h3>
    <h3 class="lista__item">{{titulo}}</h3>
    <h3 class="lista__item">{{titulo}}</h3>
  </div>
</div>
